<div class="container">
<div class="row">
    <div class="col-md-3 mt-5">
    <div class="card">
      <div class="card-header bg-primary">Total Orders</div>
      <div   class="card-body">
        <h5 class="card-title">{{ totalOrders }}</h5>
        <p class="card-text">My products placed.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-5">
    <div class="card">
      <div class="card-header bg-primary">totalCartItems</div>
      <div  class="card-body">
        <h5 class="card-title">{{ totalCartItems }}</h5>
        <p class="card-text">All products in inventory.</p>
      </div>
    </div>
  </div>
  </div>
  </div>

